.nextAndPrevButton{
  margin-left: 5px;
  background-color: gold;
  border: none;
  color: black;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  min-width: 10vw;
  height: 20px;
  margin-bottom: 10px;
}

.nextAndPrevButton:hover{
    cursor: pointer;
  }

#pagiantionButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pagianationSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1120px) {

  #pagianationSection{
    margin-left: 50%;
  }
}

@media screen and (max-width: 630px) {
  .nextAndPrevButton{
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    font-weight: bold;
    min-width: 10vw;
    height: 20px;
    margin-bottom: 10px;
  }

}