.MuiTypography-root.makeStyles-heading-58.MuiTypography-body1 {
  text-align: left;
}

#wrapper {
  margin: 5px;
}

/*Expandable list object header*/
#panel1a-header {
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  width: 45vw;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Spider chart box */
#chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.MuiExpansionPanelSummary-content {
  display: flex;
  justify-content: space-between;
}
/* Menu Item */
#mainHeading {
  display: inline-block;
}

/*Category and rating*/
#secondaryHeading {
  margin-left: 20px;
  min-width: 2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Expanding part of list object*/
#panel1a-content > div {
   background-color: #FFF3B4;
   min-width: auto;
   margin: 0;
 }

/*Text information*/
#panel1a-content > div > p {
   font-size: 13px;
   text-align: left;
   margin-right: 1vw;
   min-width: 11vw;
 }


/*Header for spider graph*/
#panel1a-content > div > div > h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

/*Rating section*/
.stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
  font-size: 2vw;
}

#panel1a-content > div > div > svg {
  min-width: 250px;
  max-height: 190px;
  padding: 5px;;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
   #panel1a-header {
    width: 90%;
  }

  .MuiExpansionPanelDetails-root {
    justify-content: space-evenly;
  } 

  h4 {
    text-align: center;
  }

  #wrapper {
    min-width: 75vw;
    text-align: left;
  }
  #mainHeading {
    min-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 
}

@media screen and (max-width: 630px) {

  #panel1a-content > div > p {
    text-align: center;
    margin-bottom: 10px;
  }

 .MuiExpansionPanelDetails-root {
   flex-direction: column;
   justify-content: space-evenly;
 } 

 .stars {
   margin-top: 10px;
  text-align: center;
}
}
