/*Selection section with checkboxes and sliders*/
.filterSection {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 3px;
  margin-top: 20px;
  width: 20vw;
}

img{
  width: 150px;
}

/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
  .filterSection {
    margin-left: 5px;
    width: 90vw;
  }
  #logo {
    width: 30vw;
    height: 20vw;
  }
}
