/*Selection section with checkboxes and sliders*/
.filterSection {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 3px;
  margin-top: 20px;
}

/*Media queries for smaller screens*/
@media screen and (max-width: 750px) {
  .filterSection {
    margin-left: 5px;
  }
}
