/*Main app*/
.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: red;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Filter {
    order: 1;
  }
  .Display {
    order: 3;
  }
  .DropDown {
    order: 2;
  }
}
