/*Checkbox section for category selection*/
.categorySection{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 15px;
    margin: 10px;
    font-family: 'arial';
}

/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
  .categorySection{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}
