/*Color of slider rail*/
.MuiSlider-root {
  color: gold !important;
}

/*Color of thumb*/
.MuiSlider-thumb {
  color: orange;
}

/*Color of slider track*/
#CalSlider {
  color: gold !important;
}

#RateSlider .MuiSlider-track{
  color: gold !important;
  background-color: #FF5100 !important;
}


/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
  #slider {
    width: 60vw;
  }
  #sliderLabel {
    font-size: 3vw;
  }
}
