/*Display section with search bar and result display*/
.displaySection {
  margin-top:55px;
  width: 45vw;
}

/*Media queries for smaller screens*/
@media screen and (max-width: 1120px) {
  .displaySection{
    margin-top: 15px;
    margin-left: 12px;
  }
}
